/* font */

@font-face {
  font-family: 'KaKaoFont';
  src: url(asset/KakaoOTFRegular.otf);
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  word-break: keep-all;
  word-wrap: break-word;
  font-family: 'KaKaoFont', sans-serif;
}

/* Header */

.Header-bar {
  max-width: 1296px;
  height: 72px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

/* Header Icon */

.Header-bar .Icon-logo img {
  width: 72px;
}

/* Header nav */
#Header-nav ul {
  display: flex;
  list-style: none;
}

#Header-nav ul li {
  margin-right: 72px;
  font-weight: bold;
}

/* Header util */

.Header-util {
  display: flex;
  justify-content: space-between;
}

.Header-util div {
  margin: 14px;
}

.Header-util .Util-search {
  background-image: url(asset/search_icon.png);
  background-size: cover;
  width: 24px;
  height: 24px;
}

.Header-util .Util-lagng {
  background-image: url(asset/earth_icon.png);
  background-size: cover;
  width: 24px;
  height: 24px;
}

.Header-util .Util-darkmode {
  background-image: url(asset/darkmode_icon.png);
  background-size: cover;
  width: 24px;
  height: 24px;
}

/* Main */

.Main-content {
  margin: 0 auto;
}

.Main-article {
  position: relative;
  max-width: 1296px;
  margin: 0 auto;
}

/* Main-Banner */

.Main-wrapper {
  padding-top: 98px;
  font-size: 46px;
  line-height: 66px;
  letter-spacing: 2px;
  font-weight: bold;
  margin: 0;
}

.Banner-content {
  display: flex;
}

.Date-Image {
  background-image: url(asset/date-icon.png);
  background-size: cover;
  background-position: center;
  margin-right: 20px;
  width: 124px;
  height: 124px;
}

.Date-Text span {
  display: block;
}

/* Main-section */

.Main-section {
  max-width: fit-content;
  display: flex;
  justify-content: space-between;
  align-content: space-around;
  margin: 0 0;
  padding-top: 96px;
}

.Main-section .Inner-Wraps .Wrap-cont {
  display: inline-block;
  box-sizing: border-box;
  padding: 25px 24px 0;
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}

/* Inner-Items */

.Inner-Items {
  margin-top: 32px;
}

.Inner-Items a {
  text-decoration: none;
  color: black;
}

/* Wrap-cont */

.Wrap-cont span {
  display: block;
}

/* Wrap-Header */

.Wrap-header {
  margin-bottom: 18px;
}

.IconAndText {
  display: flex;
  align-items: center;
}

.IconAndText img {
  height: 34px;
  margin-right: 13px;
}

.IconAndText span {
  display: inline-block;
  font-size: 16px;
  background-color: #eee;
  padding: 0 13px;
  height: 34px;
  border-radius: 10px;
  font-size: 13px;
  line-height: 34px;
}

.Wrap-title {
  font-size: 32px;
  line-height: 46px;
  margin-top: 20px;
}

.Wrap-meta {
  display: flex;
  margin-top: 24px;
  margin-bottom: 12px;
}

.Wrap-meta span {
  color: grey;
  display: inline;
  margin-right: 3px;
}

.Image-box {
  background-size: cover;
}

img {
  overflow-clip-margin: content-box;
  overflow: clip;
  border-radius: 10px;
}

/* Inner-Items grid */

.Inner-Items-grid {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(2, 1fr); /* 2열의 너비를 동일하게 설정 */
  gap: 18px; /* 그리드 아이템 사이의 간격 설정 (원하는 크기로 조절) */
  padding: 0 18px;
  grid-auto-flow: row;
}

.Wrap-cont-Half {
  width: 280px;
  display: inline-block;
  box-sizing: border-box;
  padding: 25px 24px 0;
  background-color: white;
  border: 1px solid white;
  border-radius: 10px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  max-height: fit-content;
}
.Wrap-cont-Half .Wrap-title {
  display: block;
  font-size: 18px;
  line-height: 28px;
  margin-top: 18px;
}

br {
  line-height: 0px;
}

/* Wrap-claim */

.Wrap-claim {
  display: inline-block;
  position: relative;
  padding: 8px 20px 8px 25px;
  background-color: #fee102;
  border-radius: 15px;
  font-size: 16px;
  margin-bottom: 18px;
}
.Wrap-claim-list {
  display: flex;
  justify-content: space-around;
  margin-bottom: 13px;
}

.claim-item {
  padding: 8px 20px 8px 25px;
  font-size: 16px;
  background-color: #eee;
  border-radius: 15px;
  font-size: 16px;
}

/* Main-culture */

.Main-culture {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 0;
  margin-top: 18px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
}

.Culture-title {
  font-size: 44px;
}

.Culture-site {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 8px 25px;
  border-radius: 16px;
  font-size: 18px;
}

.Culture-img {
  width: 80%;
  margin-top: 18px;
}
